absl-py==2.3.1
altgraph==0.17.2
astunparse==1.6.3
cachetools==6.2.2
certifi==2025.11.12
charset-normalizer==3.4.4
etils==1.5.2
flatbuffers==25.9.23
fsspec==2025.10.0
future==0.18.2
gast==0.7.0
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-pasta==0.2.0
grpcio==1.76.0
h5py==3.14.0
idna==3.11
importlib_metadata==8.7.0
importlib_resources==6.5.2
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml-dtypes==0.5.0
msgpack==1.1.2
namex==0.1.0
nest-asyncio==1.6.0
numpy==1.26.4
oauthlib==3.3.1
onnx==1.19.1
pandas==2.3.3
pillow==11.3.0
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rsa==4.9.1
scipy==1.13.1
six==1.17.0
tensorstore==0.1.45
termcolor==3.1.0
toolz==1.1.0
typeguard==2.13.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.4
wrapt==1.14.2
wurlitzer==3.1.1
zipp==3.23.0
uvicorn==0.30.3

